# FOOTBALL RATING
- In this notebook, the data is going to be prepared and cleaned for the next step which is "Feature Engineering". 

- The first thing will be import the libraries.

In [1]:
import pandas as pd
import numpy as np

- After that, the data will be taken from differents csv.
- Those "csv"s had been taken from a page using "Data Scraper".
- Because of the difficult to get the data, I make a sample using "Simple Random Sample" technique. Using that, every match date has the same probability to appear.
- In numbers_dataset object there are every number of date.

In [2]:
lista=[]
numbers_dataset=(5,2,8,17,24,25)
for i in numbers_dataset:
    h=f"DATASETS/FECHA-{i}/FECHA-{i}-GENERAL.csv"
    lista.append(h)
general=pd.DataFrame()
for files in lista:
    df=pd.read_csv(files)
    general=pd.concat([general,df])

- Now that there is the dataset, it is the time for the cleaning.

In [3]:
## This is only for seeing all the columns from the dataset.
pd.set_option("display.max_columns", None)

- For getting a first approach to the data, I will use .info() method.

In [4]:
general.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2229 entries, 0 to 401
Data columns (total 53 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   NAME                             2229 non-null   object
 1   GOLES                            2229 non-null   int64
 2   ASISTENCIAS                      2229 non-null   int64
 3   TACKLES                          2229 non-null   int64
 4   PASES                            2229 non-null   object
 5   DUELOS                           2229 non-null   object
 6   DUELOS_TIERRA                    2229 non-null   object
 7   DUELOS_AEREOS                    2229 non-null   object
 8   MINUTOS_JUGADOS                  2229 non-null   object
 9   POSICION                         2229 non-null   object
 10  RATING                           2229 non-null   object
 11  JUGADOR                          2229 non-null   object
 12  TIROS_ARCO                       2229 non-null   int64
 13  TIROS_FUERA_ARCO                 2229 non-null   int64
 14  TIROS_BLOQUEADOS                 2229 non-null   int64
 15  GAMBETAS                         2229 non-null   object
 16  NOTAS                            2229 non-null   object
 17  POSICION.1                       2229 non-null   object
 18  RATING.1                         2229 non-null   object
 19  JUGADOR.1                        2229 non-null   object
 20  DESPEJES                         2229 non-null   int64
 21  TIROS_BLOQUEADOS_POR_EL_JUGADOR  2229 non-null   int64
 22  INTERCEPCIONES                   2229 non-null   int64
 23  TACKLES.1                        2229 non-null   int64
 24  DRIBBLED_PAST                    2229 non-null   int64
 25  NOTAS.1                          2229 non-null   object
 26  POSICION.2                       2229 non-null   object
 27  RATING.2                         2229 non-null   object
 28  JUGADOR.2                        2229 non-null   object
 29  TOQUES                           2229 non-null   int64
 30  ACC_PASSES                       2229 non-null   object
 31  KEY_PASSES                       2229 non-null   int64
 32  CROSSES                          2229 non-null   object
 33  LONG BALLS                       2229 non-null   object
 34  NOTAS.2                          2229 non-null   object
 35  POSICION.3                       2229 non-null   object
 36  RATING.3                         2229 non-null   object
 37  JUGADOR.3                        2229 non-null   object
 38  DUELOS_TERRESTRES                2229 non-null   object
 39  DUELOS_AEREOS.1                  2229 non-null   object
 40  POSSESION_LOST                   2229 non-null   int64
 41  FOULS                            2229 non-null   int64
 42  WAS_FOULED                       2229 non-null   int64
 43  OFFSIDES                         2229 non-null   int64
 44  POSICION.4                       2229 non-null   object
 45  RATING.4                         2229 non-null   object
 46  JUGADOR.4                        167 non-null    object
 47  SALVADAS                         167 non-null    float64
 48  PUNCHES                          167 non-null    float64
 49  RUNS_OUT                         167 non-null    object
 50  HIGH_CLAIMS                      167 non-null    float64
 51  NOTAS.3                          167 non-null    object
 52  RATING.5                         167 non-null    float64
dtypes: float64(4), int64(17), object(32)
memory usage: 940.4+ KB

- I must eliminate duplicated columns

In [5]:
new_df=general.drop(["JUGADOR","POSICION.1","RATING.1","JUGADOR.1","POSICION.2","RATING.2","JUGADOR.2","POSICION.3","RATING.3","JUGADOR.3","POSICION.4","RATING.4","JUGADOR.4","RATING.5","PASES","TACKLES","DUELOS_TIERRA","DUELOS_AEREOS"],axis=1)

In [6]:
new_df.head()

,NAME,GOLES,ASISTENCIAS,DUELOS,MINUTOS_JUGADOS,POSICION,RATING,TIROS_ARCO,TIROS_FUERA_ARCO,TIROS_BLOQUEADOS,GAMBETAS,NOTAS,DESPEJES,TIROS_BLOQUEADOS_POR_EL_JUGADOR,INTERCEPCIONES,TACKLES.1,DRIBBLED_PAST,NOTAS.1,TOQUES,ACC_PASSES,KEY_PASSES,CROSSES,LONG BALLS,NOTAS.2,DUELOS_TERRESTRES,DUELOS_AEREOS.1,POSSESION_LOST,FOULS,WAS_FOULED,OFFSIDES,SALVADAS,PUNCHES,RUNS_OUT,HIGH_CLAIMS,NOTAS.3
0,Jorman Campuzano,0,1,18 (10),90',M,7.8,0,0,0,0 (0),-,3,2,4,4,3,-,72,35/45 (78%),1,0 (0),9 (6),-,17 (10),1 (0),13,3,6,0,NaN,NaN,NaN,NaN,NaN
1,Fernando Márquez,1,0,5 (4),17',F,7.5,1,0,0,0 (0),-,1,0,0,1,1,-,13,7/7 (100%),0,0 (0),1 (1),-,3 (2),2 (2),2,0,1,0,NaN,NaN,NaN,NaN,NaN
2,Javier García,0,0,1 (1),90',G,7.5,0,0,0,0 (0),-,1,0,0,0,0,-,44,12/28 (43%),0,0 (0),25 (9),-,1 (1),0 (0),16,0,1,0,5.0,0.0,0 (0),0.0,Saves from inside box: 5
3,Ezequiel Cañete,0,0,21 (10),88',M,7.4,0,1,1,1 (0),-,1,0,1,5,2,-,93,52/63 (83%),2,9 (4),4 (4),-,16 (8),5 (2),22,4,3,0,NaN,NaN,NaN,NaN,NaN
4,Nicolás Cordero,0,0,12 (7),90',F,7.3,4,1,2,0 (0),-,0,0,1,0,0,-,29,8/12 (67%),0,0 (0),0 (0),-,5 (1),7 (6),7,3,1,1,NaN,NaN,NaN,NaN,NaN

In [7]:
new_df.shape

(2229, 35)

- As it can see, there are many columns which have multiple information. Those columns will be splitted.

In [8]:
lista=["DUELOS","GAMBETAS","CROSSES","LONG BALLS","DUELOS_TERRESTRES","DUELOS_AEREOS.1","RUNS_OUT"]

In [9]:
columnas=pd.DataFrame()
for i in lista:
    h=new_df[i].str.split('(').apply(pd.Series)
    columnas=pd.concat([columnas,h], axis=1)
columnas.head()

     0    1   0   1   0   1    0   1    0    1   0   1    0    1
0  18   10)  0   0)  0   0)   9   6)  17   10)  1   0)  NaN  NaN
1   5    4)  0   0)  0   0)   1   1)   3    2)  2   2)  NaN  NaN
2   1    1)  0   0)  0   0)  25   9)   1    1)  0   0)   0    0)
3  21   10)  1   0)  9   4)   4   4)  16    8)  5   2)  NaN  NaN
4  12    7)  0   0)  0   0)   0   0)   5    1)  7   6)  NaN  NaN

- Now, the columns splitted have others names so they are going to be renamed.

In [10]:
names=["DUELOS_R","DUELOS_E","GAMBETAS_R","GAMBETAS_E","CROSSES_R","CROSSES_E","LONG_BALLS_R","LONG_BALLS_E","DUELOS_TERRESTRES_R","DUELOS_TERRESTRES_E","DUELOS_AEREOS_R","DUELOS_AEREROS_E","RUNS_OUT_R","RUN_OUT_E"]
columnas.columns=names

In [11]:
columnas.head()

,DUELOS_R,DUELOS_E,GAMBETAS_R,GAMBETAS_E,CROSSES_R,CROSSES_E,LONG_BALLS_R,LONG_BALLS_E,DUELOS_TERRESTRES_R,DUELOS_TERRESTRES_E,DUELOS_AEREOS_R,DUELOS_AEREROS_E,RUNS_OUT_R,RUN_OUT_E
0,18,10),0,0),0,0),9,6),17,10),1,0),NaN,NaN
1,5,4),0,0),0,0),1,1),3,2),2,2),NaN,NaN
2,1,1),0,0),0,0),25,9),1,1),0,0),0,0)
3,21,10),1,0),9,4),4,4),16,8),5,2),NaN,NaN
4,12,7),0,0),0,0),0,0),5,1),7,6),NaN,NaN

- In order to get the data much cleaned as it can, It is going to be changed some things.

In [12]:
for i in columnas.columns:
    columnas[i]=columnas[i].str.replace(')'," ")
columnas

,DUELOS_R,DUELOS_E,GAMBETAS_R,GAMBETAS_E,CROSSES_R,CROSSES_E,LONG_BALLS_R,LONG_BALLS_E,DUELOS_TERRESTRES_R,DUELOS_TERRESTRES_E,DUELOS_AEREOS_R,DUELOS_AEREROS_E,RUNS_OUT_R,RUN_OUT_E
0,18,10,0,0,0,0,9,6,17,10,1,0,NaN,NaN
1,5,4,0,0,0,0,1,1,3,2,2,2,NaN,NaN
2,1,1,0,0,0,0,25,9,1,1,0,0,0,0
3,21,10,1,0,9,4,4,4,16,8,5,2,NaN,NaN
4,12,7,0,0,0,0,0,0,5,1,7,6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,12,4,0,0,0,0,1,0,6,2,6,2,NaN,NaN
398,1,0,1,0,0,0,0,0,1,0,0,0,NaN,NaN
399,15,4,1,1,0,0,4,1,9,3,6,1,NaN,NaN
400,1,0,1,0,1,0,0,0,1,0,0,0,NaN,NaN
401,1,0,0,0,0,0,1,0,0,0,1,0,NaN,NaN

- Another split to clean the dataset.

In [13]:
pases0=new_df["ACC_PASSES"].str.split('/',
                                     expand=True)
pases1=pases0[1].str.split('(',
                         expand=True)
pases0.drop(1,inplace=True,axis=1)

In [14]:
columnas1=pd.concat([pases0,pases1],axis=1)

In [15]:
names=["PASES_R","PASES_E","%PASES_E"]
columnas1.columns=names

In [16]:
for i in columnas1.columns:
    columnas1[i]=columnas1[i].str.replace(')'," ")
columnas1["%PASES_E"]=columnas1["%PASES_E"].str.replace("%","")
columnas1

    PASES_R PASES_E %PASES_E
0        35     45       78
1         7      7      100
2        12     28       43
3        52     63       83
4         8     12       67
..      ...     ...      ...
397      13     17       76
398       7      7      100
399      20     32       63
400       3      6       50
401       1      3       33

[2229 rows x 3 columns]

- Now that the dataset is clean, the old columns will be drop it.

In [17]:
new_df=new_df.drop(["DUELOS","GAMBETAS","CROSSES","LONG BALLS","DUELOS_TERRESTRES","DUELOS_AEREOS.1","RUNS_OUT","ACC_PASSES"],
            axis=1)

- The "rating" and "minutos_jugados" columns have many values which would make same errors in the future, so they will be change.

In [18]:
new_df["MINUTOS_JUGADOS"]=new_df["MINUTOS_JUGADOS"].str.replace("'","")
new_df["RATING"]=new_df["RATING"].replace("-",np.nan)

In [19]:
df_final=pd.concat([new_df,columnas,columnas1],axis=1)

- Now, the data is clean.

In [20]:
df_final.head()

,NAME,GOLES,ASISTENCIAS,MINUTOS_JUGADOS,POSICION,RATING,TIROS_ARCO,TIROS_FUERA_ARCO,TIROS_BLOQUEADOS,NOTAS,DESPEJES,TIROS_BLOQUEADOS_POR_EL_JUGADOR,INTERCEPCIONES,TACKLES.1,DRIBBLED_PAST,NOTAS.1,TOQUES,KEY_PASSES,NOTAS.2,POSSESION_LOST,FOULS,WAS_FOULED,OFFSIDES,SALVADAS,PUNCHES,HIGH_CLAIMS,NOTAS.3,DUELOS_R,DUELOS_E,GAMBETAS_R,GAMBETAS_E,CROSSES_R,CROSSES_E,LONG_BALLS_R,LONG_BALLS_E,DUELOS_TERRESTRES_R,DUELOS_TERRESTRES_E,DUELOS_AEREOS_R,DUELOS_AEREROS_E,RUNS_OUT_R,RUN_OUT_E,PASES_R,PASES_E,%PASES_E
0,Jorman Campuzano,0,1,90,M,7.8,0,0,0,-,3,2,4,4,3,-,72,1,-,13,3,6,0,NaN,NaN,NaN,NaN,18,10,0,0,0,0,9,6,17,10,1,0,NaN,NaN,35,45,78
1,Fernando Márquez,1,0,17,F,7.5,1,0,0,-,1,0,0,1,1,-,13,0,-,2,0,1,0,NaN,NaN,NaN,NaN,5,4,0,0,0,0,1,1,3,2,2,2,NaN,NaN,7,7,100
2,Javier García,0,0,90,G,7.5,0,0,0,-,1,0,0,0,0,-,44,0,-,16,0,1,0,5.0,0.0,0.0,Saves from inside box: 5,1,1,0,0,0,0,25,9,1,1,0,0,0,0,12,28,43
3,Ezequiel Cañete,0,0,88,M,7.4,0,1,1,-,1,0,1,5,2,-,93,2,-,22,4,3,0,NaN,NaN,NaN,NaN,21,10,1,0,9,4,4,4,16,8,5,2,NaN,NaN,52,63,83
4,Nicolás Cordero,0,0,90,F,7.3,4,1,2,-,0,0,1,0,0,-,29,0,-,7,3,1,1,NaN,NaN,NaN,NaN,12,7,0,0,0,0,0,0,5,1,7,6,NaN,NaN,8,12,67

In [21]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2229 entries, 0 to 401
Data columns (total 44 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   NAME                             2229 non-null   object
 1   GOLES                            2229 non-null   int64
 2   ASISTENCIAS                      2229 non-null   int64
 3   MINUTOS_JUGADOS                  2229 non-null   object
 4   POSICION                         2229 non-null   object
 5   RATING                           2180 non-null   object
 6   TIROS_ARCO                       2229 non-null   int64
 7   TIROS_FUERA_ARCO                 2229 non-null   int64
 8   TIROS_BLOQUEADOS                 2229 non-null   int64
 9   NOTAS                            2229 non-null   object
 10  DESPEJES                         2229 non-null   int64
 11  TIROS_BLOQUEADOS_POR_EL_JUGADOR  2229 non-null   int64
 12  INTERCEPCIONES                   2229 non-null   int64
 13  TACKLES.1                        2229 non-null   int64
 14  DRIBBLED_PAST                    2229 non-null   int64
 15  NOTAS.1                          2229 non-null   object
 16  TOQUES                           2229 non-null   int64
 17  KEY_PASSES                       2229 non-null   int64
 18  NOTAS.2                          2229 non-null   object
 19  POSSESION_LOST                   2229 non-null   int64
 20  FOULS                            2229 non-null   int64
 21  WAS_FOULED                       2229 non-null   int64
 22  OFFSIDES                         2229 non-null   int64
 23  SALVADAS                         167 non-null    float64
 24  PUNCHES                          167 non-null    float64
 25  HIGH_CLAIMS                      167 non-null    float64
 26  NOTAS.3                          167 non-null    object
 27  DUELOS_R                         2229 non-null   object
 28  DUELOS_E                         2229 non-null   object
 29  GAMBETAS_R                       2229 non-null   object
 30  GAMBETAS_E                       2229 non-null   object
 31  CROSSES_R                        2229 non-null   object
 32  CROSSES_E                        2229 non-null   object
 33  LONG_BALLS_R                     2229 non-null   object
 34  LONG_BALLS_E                     2229 non-null   object
 35  DUELOS_TERRESTRES_R              2229 non-null   object
 36  DUELOS_TERRESTRES_E              2229 non-null   object
 37  DUELOS_AEREOS_R                  2229 non-null   object
 38  DUELOS_AEREROS_E                 2229 non-null   object
 39  RUNS_OUT_R                       167 non-null    object
 40  RUN_OUT_E                        167 non-null    object
 41  PASES_R                          2229 non-null   object
 42  PASES_E                          2229 non-null   object
 43  %PASES_E                         2197 non-null   object
dtypes: float64(3), int64(16), object(25)
memory usage: 783.6+ KB

In [22]:
df_final.columns

Index(['NAME', 'GOLES', 'ASISTENCIAS', 'MINUTOS_JUGADOS', 'POSICION', 'RATING',
       'TIROS_ARCO', 'TIROS_FUERA_ARCO', 'TIROS_BLOQUEADOS', 'NOTAS',
       'DESPEJES', 'TIROS_BLOQUEADOS_POR_EL_JUGADOR', 'INTERCEPCIONES',
       'TACKLES.1', 'DRIBBLED_PAST', 'NOTAS.1', 'TOQUES', 'KEY_PASSES',
       'NOTAS.2', 'POSSESION_LOST', 'FOULS', 'WAS_FOULED', 'OFFSIDES',
       'SALVADAS', 'PUNCHES', 'HIGH_CLAIMS', 'NOTAS.3', 'DUELOS_R', 'DUELOS_E',
       'GAMBETAS_R', 'GAMBETAS_E', 'CROSSES_R', 'CROSSES_E', 'LONG_BALLS_R',
       'LONG_BALLS_E', 'DUELOS_TERRESTRES_R', 'DUELOS_TERRESTRES_E',
       'DUELOS_AEREOS_R', 'DUELOS_AEREROS_E', 'RUNS_OUT_R', 'RUN_OUT_E',
       'PASES_R', 'PASES_E', '%PASES_E'],
      dtype='object')

- To get the data with the same type, all the numeric features are going to be float.

In [23]:
nombres=['GOLES', 'ASISTENCIAS', 'MINUTOS_JUGADOS',
       'TIROS_ARCO', 'TIROS_FUERA_ARCO', 'TIROS_BLOQUEADOS','RATING', 
       'DESPEJES', 'TIROS_BLOQUEADOS_POR_EL_JUGADOR', 'INTERCEPCIONES',
       'TACKLES.1', 'DRIBBLED_PAST', 'TOQUES', 'KEY_PASSES',
        'POSSESION_LOST', 'FOULS', 'WAS_FOULED', 'OFFSIDES',
       'SALVADAS', 'PUNCHES', 'HIGH_CLAIMS', 'DUELOS_R', 'DUELOS_E',
       'GAMBETAS_R', 'GAMBETAS_E', 'CROSSES_R', 'CROSSES_E', 'LONG_BALLS_R',
       'LONG_BALLS_E', 'DUELOS_TERRESTRES_R', 'DUELOS_TERRESTRES_E',
       'DUELOS_AEREOS_R', 'DUELOS_AEREROS_E', 'RUNS_OUT_R', 'RUN_OUT_E',
       'PASES_R', 'PASES_E','%PASES_E']
for i in nombres:
    df_final = df_final.astype({i: float})

In [24]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2229 entries, 0 to 401
Data columns (total 44 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   NAME                             2229 non-null   object
 1   GOLES                            2229 non-null   float64
 2   ASISTENCIAS                      2229 non-null   float64
 3   MINUTOS_JUGADOS                  2229 non-null   float64
 4   POSICION                         2229 non-null   object
 5   RATING                           2180 non-null   float64
 6   TIROS_ARCO                       2229 non-null   float64
 7   TIROS_FUERA_ARCO                 2229 non-null   float64
 8   TIROS_BLOQUEADOS                 2229 non-null   float64
 9   NOTAS                            2229 non-null   object
 10  DESPEJES                         2229 non-null   float64
 11  TIROS_BLOQUEADOS_POR_EL_JUGADOR  2229 non-null   float64
 12  INTERCEPCIONES                   2229 non-null   float64
 13  TACKLES.1                        2229 non-null   float64
 14  DRIBBLED_PAST                    2229 non-null   float64
 15  NOTAS.1                          2229 non-null   object
 16  TOQUES                           2229 non-null   float64
 17  KEY_PASSES                       2229 non-null   float64
 18  NOTAS.2                          2229 non-null   object
 19  POSSESION_LOST                   2229 non-null   float64
 20  FOULS                            2229 non-null   float64
 21  WAS_FOULED                       2229 non-null   float64
 22  OFFSIDES                         2229 non-null   float64
 23  SALVADAS                         167 non-null    float64
 24  PUNCHES                          167 non-null    float64
 25  HIGH_CLAIMS                      167 non-null    float64
 26  NOTAS.3                          167 non-null    object
 27  DUELOS_R                         2229 non-null   float64
 28  DUELOS_E                         2229 non-null   float64
 29  GAMBETAS_R                       2229 non-null   float64
 30  GAMBETAS_E                       2229 non-null   float64
 31  CROSSES_R                        2229 non-null   float64
 32  CROSSES_E                        2229 non-null   float64
 33  LONG_BALLS_R                     2229 non-null   float64
 34  LONG_BALLS_E                     2229 non-null   float64
 35  DUELOS_TERRESTRES_R              2229 non-null   float64
 36  DUELOS_TERRESTRES_E              2229 non-null   float64
 37  DUELOS_AEREOS_R                  2229 non-null   float64
 38  DUELOS_AEREROS_E                 2229 non-null   float64
 39  RUNS_OUT_R                       167 non-null    float64
 40  RUN_OUT_E                        167 non-null    float64
 41  PASES_R                          2229 non-null   float64
 42  PASES_E                          2229 non-null   float64
 43  %PASES_E                         2197 non-null   float64
dtypes: float64(38), object(6)
memory usage: 783.6+ KB

In [25]:
df_final[['GOLES', 'ASISTENCIAS', 'MINUTOS_JUGADOS', 'RATING',
       'TIROS_ARCO', 'TIROS_FUERA_ARCO', 'TIROS_BLOQUEADOS', 
       'DESPEJES', 'TIROS_BLOQUEADOS_POR_EL_JUGADOR', 'INTERCEPCIONES',
       'TACKLES.1', 'DRIBBLED_PAST', 'TOQUES', 'KEY_PASSES',
        'POSSESION_LOST', 'FOULS', 'WAS_FOULED', 'OFFSIDES',
       'SALVADAS', 'PUNCHES', 'HIGH_CLAIMS', 'DUELOS_R', 'DUELOS_E',
       'GAMBETAS_R', 'GAMBETAS_E', 'CROSSES_R', 'CROSSES_E', 'LONG_BALLS_R',
       'LONG_BALLS_E', 'DUELOS_TERRESTRES_R', 'DUELOS_TERRESTRES_E',
       'DUELOS_AEREOS_R', 'DUELOS_AEREROS_E', 'RUNS_OUT_R', 'RUN_OUT_E',
       'PASES_R', 'PASES_E', '%PASES_E']]

,GOLES,ASISTENCIAS,MINUTOS_JUGADOS,RATING,TIROS_ARCO,TIROS_FUERA_ARCO,TIROS_BLOQUEADOS,DESPEJES,TIROS_BLOQUEADOS_POR_EL_JUGADOR,INTERCEPCIONES,TACKLES.1,DRIBBLED_PAST,TOQUES,KEY_PASSES,POSSESION_LOST,FOULS,WAS_FOULED,OFFSIDES,SALVADAS,PUNCHES,HIGH_CLAIMS,DUELOS_R,DUELOS_E,GAMBETAS_R,GAMBETAS_E,CROSSES_R,CROSSES_E,LONG_BALLS_R,LONG_BALLS_E,DUELOS_TERRESTRES_R,DUELOS_TERRESTRES_E,DUELOS_AEREOS_R,DUELOS_AEREROS_E,RUNS_OUT_R,RUN_OUT_E,PASES_R,PASES_E,%PASES_E
0,0.0,1.0,90.0,7.8,0.0,0.0,0.0,3.0,2.0,4.0,4.0,3.0,72.0,1.0,13.0,3.0,6.0,0.0,NaN,NaN,NaN,18.0,10.0,0.0,0.0,0.0,0.0,9.0,6.0,17.0,10.0,1.0,0.0,NaN,NaN,35.0,45.0,78.0
1,1.0,0.0,17.0,7.5,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,13.0,0.0,2.0,0.0,1.0,0.0,NaN,NaN,NaN,5.0,4.0,0.0,0.0,0.0,0.0,1.0,1.0,3.0,2.0,2.0,2.0,NaN,NaN,7.0,7.0,100.0
2,0.0,0.0,90.0,7.5,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,44.0,0.0,16.0,0.0,1.0,0.0,5.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,25.0,9.0,1.0,1.0,0.0,0.0,0.0,0.0,12.0,28.0,43.0
3,0.0,0.0,88.0,7.4,0.0,1.0,1.0,1.0,0.0,1.0,5.0,2.0,93.0,2.0,22.0,4.0,3.0,0.0,NaN,NaN,NaN,21.0,10.0,1.0,0.0,9.0,4.0,4.0,4.0,16.0,8.0,5.0,2.0,NaN,NaN,52.0,63.0,83.0
4,0.0,0.0,90.0,7.3,4.0,1.0,2.0,0.0,0.0,1.0,0.0,0.0,29.0,0.0,7.0,3.0,1.0,1.0,NaN,NaN,NaN,12.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1.0,7.0,6.0,NaN,NaN,8.0,12.0,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397,0.0,0.0,90.0,6.5,0.0,0.0,1.0,2.0,0.0,0.0,0.0,1.0,33.0,0.0,11.0,2.0,2.0,0.0,NaN,NaN,NaN,12.0,4.0,0.0,0.0,0.0,0.0,1.0,0.0,6.0,2.0,6.0,2.0,NaN,NaN,13.0,17.0,76.0
398,0.0,0.0,11.0,6.5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,2.0,0.0,0.0,0.0,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,7.0,7.0,100.0
399,0.0,0.0,90.0,6.4,0.0,0.0,0.0,5.0,0.0,3.0,1.0,3.0,56.0,1.0,17.0,1.0,1.0,0.0,NaN,NaN,NaN,15.0,4.0,1.0,1.0,0.0,0.0,4.0,1.0,9.0,3.0,6.0,1.0,NaN,NaN,20.0,32.0,63.0
400,0.0,0.0,11.0,6.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,5.0,0.0,0.0,0.0,NaN,NaN,NaN,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,3.0,6.0,50.0
401,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,2.0,0.0,0.0,0.0,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN,NaN,1.0,3.0,33.0

- Once the data cleaning is finish, It will be created a csv.

In [26]:
df_final.to_csv("General_Fecha_1-2-3", encoding='utf-8')